[Unit]
Description=pompa-model-sync
Requires=network.target
Requires=postgresql-9.6.service
Requires=redis.service
After=network.target
After=postgresql-9.6.service
After=redis.service

[Service]
Type=simple
Environment=RAILS_ENV=production
ExecStart=/home/pompa/.rvm/wrappers/ruby-2.4.1@pompa/model-sync
WorkingDirectory=/home/pompa/pompa
User=pompa
Group=pompa
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
