[Unit]
Description=pompa-sidekiq
Requires=network.target
Requires=postgresql.service
Requires=redis-server.service
After=network.target
After=postgresql.service
After=redis-server.service

[Service]
Type=forking
Environment=RAILS_ENV=production RUBYOPT="--jit"
ExecStart=/home/pompa/.rvm/wrappers/ruby-2.6.0@pompa/sidekiq --pidfile tmp/pids/sidekiq.pid --tag pompa --logfile log/sidekiq.log --daemon
WorkingDirectory=/home/pompa/pompa
PIDFile=/home/pompa/pompa/tmp/pids/sidekiq.pid
User=pompa
Group=pompa
SendSIGKILL=no
KillMode=process

[Install]
WantedBy=multi-user.target
