[Unit]
Description=pompa-model-sync
Requires=network.target
Requires=postgresql.service
Requires=redis-server.service
After=network.target
After=postgresql.service
After=redis-server.service

[Service]
Type=simple
Environment=RAILS_ENV=production RUBYOPT="--jit"
ExecStart=/home/pompa/.rvm/wrappers/ruby-2.6.0@pompa/model-sync
WorkingDirectory=/home/pompa/pompa
User=pompa
Group=pompa

[Install]
WantedBy=multi-user.target
